{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="text-center">History</h1>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in transactions %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["shares"] * stock["price"] }}</td>
                    <td>{{ stock["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}