{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1 class="text-center">Portfolio</h1>

    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.shares * stock.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total Value</th>
                <td>{{ total_value }}</td>
            </tr>
            <tr>
                <th colspan="4">Cash</th>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <th colspan="4">Total Portfolio Value</th>
                <td>{{ grand_total }}</td>
        </tfoot>
    </table>
{% endblock %}